<!-- templates/iva.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de IVA</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy/J6ezy4h6U" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg button:hover button-container" style="background-color: #e3f2fd;">
        <div class="container-fluid">
           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="container-fluid d-flex justify-content-center align-items-center ">
                    <a class="nav-link active navbar-item" aria-current="page" href="{{ url_for('index') }}">Inicio</a>
                    <a class="nav-link navbar-item" href="{{ url_for('calculadora_honorarios') }}">Honorarios</a>
                    <a class="nav-link navbar-item" href="{{ url_for('calculadora_comisiones') }}">Comisiones</a>
                    <a class="nav-link navbar-item" href="{{ url_for('calculadora_desperdicios') }}">Desperdicios</a>
                    <a class="nav-link navbar-item" href="{{ url_for('calculadora_fletes') }}">Fletes</a>
                    <a class="nav-link navbar-item" href="{{ url_for('calculadora_renta') }}">Renta</a>
                    <!-- Agrega otros enlaces según sea necesario -->
                </div>
            </div>
        </div>
    </nav>

    <!-- Contenido de la calculadora de IVA -->
    <div class="container mt-5">
        <h1 class="mb-4 text-center">IVA</h1>

        <!-- Sección de ayuda -->
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Modo de uso</h4>
            <p>
                Bienvenido a la Calculadora de IVA. Para utilizarla, sigue estos pasos:
            </p>
            <ul>
                <li>Selecciona la opción (Base, Total, IVA) que deseas calcular.</li>
                <li>Ingresa el valor correspondiente en el campo proporcionado.</li>
                <li>Haz clic en el botón "Calcular" para obtener el resultado.</li>
            </ul>
            <hr>
            <p class="mb-0">¡Esperamos que encuentres útil esta herramienta!</p>
        </div>

<!-- Formulario de la calculadora -->
<form action="{{ url_for('calculadora_iva') }}" method="post" id="calculator-form">
    <div class="form-group">
        <label for="opcion">Seleccione la opción:</label>
        <div class="btn-group">
            <button type="button" onclick="selectOption('base')" id="btn-base" class="btn btn-outline-primary">Base</button>
            <button type="button" onclick="selectOption('total')" id="btn-total" class="btn btn-outline-primary">Total</button>
            <button type="button" onclick="selectOption('iva')" id="btn-iva" class="btn btn-outline-primary">IVA</button>
        </div>
    </div>

    <input type="hidden" name="opcion" id="opcion" required>

    <div class="form-group">
        <label for="valor">Valor:</label>
        <input type="text" name="valor" id="valor" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Calcular</button>
</form>


        <!-- Contenedor del resultado -->
        <div id="resultado-container" class="mt-4 p-3 border bg-light">
            {% if resultado %}
                <h2>Resultado:</h2>
                <p id="resultado-content">{{ resultado }}</p>
            {% else %}
                <h2 id="resultado-placeholder" style="display: none;">Resultado:</h2>
                <p id="resultado-content" style="display: none;"></p>
            {% endif %}
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button id="volverInicioBtn" class="btn btn-primary">Volver al Inicio</button>
            </div>
        </div>
    </div>

    <script>
     document.getElementById('volverInicioBtn').addEventListener('click', function() {
            window.location.href = '{{ url_for('index') }}';
        });
        function selectOption(option) {
            document.getElementById('opcion').value = option;

            // Limpiar el contenido del resultado cuando se cambia la opción
            const resultadoContent = document.getElementById('resultado-content');
            resultadoContent.innerHTML = '';

            const resultadoPlaceholder = document.getElementById('resultado-placeholder');
            resultadoPlaceholder.style.display = 'none';

            const buttons = document.querySelectorAll('button[id^="btn-"]');
            buttons.forEach(btn => {
                btn.classList.remove('active');
            });
            const selectedBtn = document.getElementById(`btn-${option}`);
            selectedBtn.classList.add('active');
        }
    </script>
</body>
</html>
